@page "/groups/edit/{id:int}"
@inject IGroupService _groupService
@inject NavigationManager _navManager
@inject IJSRuntime _jsRuntime

@*<AuthorizeView Roles="Admin">*@
    <div class="h-100 d-flex align-items-center justify-content-center">  
        <div class="col-3">
            <h3 class="card-title text-primary mb-3 ml-3">Rediger gruppe</h3>
            @if(IsLoading)
            {
                <div class="spinner"></div>
            }
            else
            {
                <EditForm Model="Group" OnValidSubmit="HandleUpdateGroup">
                    <DataAnnotationsValidator/>
                    <div class="form-group">
                        <label>Gruppenavn</label>
                        <InputText @bind-Value="Group.GroupName" class="form-control"></InputText>
                        <ValidationMessage For="()=>Group.GroupName"></ValidationMessage>
                        <label class="form-check-label">Sett gruppe som aktiv</label>
                        <InputCheckbox @bind-Value="Group.IsActiveGroup" class="form-check-input"></InputCheckbox>
                    </div>

                    <div class="form-group py-2">
                        <button class="btn btn-primary" type="submit">Lagre</button>   
                    </div>
                </EditForm>
                <button @onclick="BackToList" class="btn btn-secondary">Tilbake til grupper</button>
            }
        </div>
    </div>
@*</AuthorizeView>*@

@code {
    [Parameter]
    public int Id { get; set; }
    private GroupUpdateDto Group { get; set; } = new GroupUpdateDto();
    public bool IsLoading { get; set; }

    protected async override Task OnInitializedAsync()
    {
        IsLoading = true;
        var response = await _groupService.GetForUpdate(Id);
        if (response.Success)
        {
            Group = response.Data;
            IsLoading = false;
        }
    }

    private async Task HandleUpdateGroup()
    {
        var response = await _groupService.Edit(Id, Group);
        if (response.Success)
        {
            await _jsRuntime.SweetAlertSuccess("Gruppe ble oppdatert.");
            BackToList();
        }
        else
        {
            await _jsRuntime.SweetAlertError("Det oppsto en feil.");
        }
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/groups/");
    }
}
