@page "/groups/create"
@inject IGroupService _groupService
@inject NavigationManager _navManager
@inject IJSRuntime _jsRuntime

@*<AuthorizeView Roles="Admin">*@
    <div class="row my-2 mx-4">
        <h3 class="card-title text-primary mb-3 ml-3">Ny gruppe</h3>

        <div class="col-10">
            @if(IsLoading)
            {
                <div class="spinner"></div>
            }
            else
            {
                <EditForm Model="Group" OnValidSubmit="HandleCreateGroup">
                    <DataAnnotationsValidator/>
                    <div class="form-group">
                        <label>Gruppenavn</label>
                        <InputText @bind-Value="Group.GroupName" class="form-control"></InputText>
                        <ValidationMessage For="()=>Group.GroupName"></ValidationMessage>
                        <label class="form-check-label">Sett gruppe som aktiv</label>
                        <InputCheckbox @bind-Value="Group.IsActiveGroup" class="form-check-input"></InputCheckbox>
                    </div>

                    <div class="form-group py-2">
                        <button class="btn btn-primary" type="submit">Lagre</button>
                        <button @onclick="BackToList" class="btn btn-secondary">Tilbake til grupper</button>
                    </div>
                </EditForm>
            }
        </div>
    </div>
@*</AuthorizeView>*@

@code {
    private GroupCreateDto Group { get; set; } = new GroupCreateDto();
    public bool IsLoading { get; set; }

    private async Task HandleCreateGroup()
    {
        var response = await _groupService.Create(Group);
        if (response.Success)
        {
            await _jsRuntime.SweetAlertSuccess("Ny gruppe ble lagt til.");
            BackToList();
        }
        else
        {
            await _jsRuntime.SweetAlertError("Det oppsto en feil.");
        }
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/groups/");
    }
}
