@inherits LayoutComponentBase

<body>
    <NavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    
</body>

<footer class="footer text-white text-sm-start fixed-bottom bg-primary">
    <div class="container mt-3 mb-3">
        &copy; 2022 - Athena.Pay.LandingPage
    </div>
</footer>