@page "/users/login"
@inject NavigationManager _navManager
@inject IAuthenticationService _authService

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="email">E-post</label>
                <InputText class="form-control" @bind-Value="LoginModel.Email" />
                <ValidationMessage For="@(() => LoginModel.Email)" />
            </div>
            <br/>
            <div class="form-group">
                <label for="email">Passord</label>
                <InputText class="form-control" type="password" @bind-Value="LoginModel.Password" />
                <ValidationMessage For="@(() => LoginModel.Password)" />
            </div>
            <br/>
            <button type="submit" class="btn btn-primary btn-block">Logg inn</button>
        </EditForm>
    </div>
</div>

@code {
    LoginUserDto LoginModel = new LoginUserDto();
        string message = string.Empty;

        public async Task HandleLogin()
        {
            var response = await _authService.AuthenticateAsync(LoginModel);

            if (response.Success)
            {
                _navManager.NavigateTo("/");
            }

            message = response.Message;
        }
}
