@page "/merchant/groups"

<AuthorizeView Roles="Merchant">
    
    <div class="row mt-4 mx-4">
        <div class="row">
            <h3 class="mx-5 p-2 col"><i class="bi bi-collection-fill"></i> Mine grupper</h3>
            <a href="#" class="btn btn-success disabled col-2 my-3 mx-4"><i class="bi bi-gear"></i> Legg til grupper</a>
        </div>
        <div class="h-100 d-flex align-items-center justify-content-center ">
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe1</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>12</b> aktive tenants. <b>1</b> inaktiv tenant.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe2</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b> 4</b> aktive tenants. <b>0</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe3</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>0</b> aktive tenants. <b>0</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary disabled"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Inaktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe4</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>0</b> aktive tenants. <b>0</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary disabled"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Inaktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe5</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>2</b> aktive tenants. <b>9</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
        </div>

        <div class="h-100 d-flex align-items-center justify-content-center ">   
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe6</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>0</b> aktive tenants. <b>8</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe7</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>2</b> aktive tenants. <b>2</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe8</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>5</b> aktive tenants. <b>9</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe9</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>8</b> aktive tenants. <b>7</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Aktiv
                    </div>
            </div>
            <div class="card bg-light mb-3 mx-2" style="max-width: 18rem;">
                  <div class="card-header">Gruppe10</div>
                  <div class="card-body">
                    <h5 class="card-title">Gruppe info</h5>
                    <p class="card-text"><b>0</b> aktive tenants. <b>0</b> inaktive tenants.</p>
                    <a href="#" class="btn btn-primary disabled"><i class="bi bi-gear"></i> Administrer</a>
                  </div>
                  <div class="card-footer text-muted">
                        Inaktiv
                    </div>
            </div>
        </div>
    </div>
</AuthorizeView>

@code {

}
